<!DOCTYPE html>
<html>
<head>
  <title>ToDo view page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
  <!-- Bootstrap -->
  <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<div class="container-fluid">
 <br/><br/>
  <!--
  <form class="form-inline">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      </tbody>
    </table>

    <nav aria-label="...">
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
      </ul>
    </nav>
  </form>
-->
<form class="form-inline">
  <div class="form-group">
    <label for="url">http://localhost:8080/todos/</label>
    <input type="text" class="form-control" id="url" placeholder="url">
  </div>
</form>
<form class="form-inline">
  <div class="form-group">
    <label for="inputJson">input json</label>
    <input type="text" class="form-control" id="inputJson" placeholder="json input">
  </div>
  <button type="button" class="btn btn-default" id="get">GET</button>
  <button type="button" class="btn btn-default" id="post">POST</button>
  <button type="button" class="btn btn-default" id="put">PUT</button>
</form>
</div>
<div class="bs-callout bs-callout-danger" id="callout-inline-form-width">
  <h4>Result Json</h4>
  <p></p><code id="resultJson"></code>
</div>

<script src="js/index.js"></script>
</body>
</html>